body{
    background-color: #12293a;
    margin: 0;
    padding: 0;
}

.izquierda{
    background-color:#12293a;
    width:50vw;
    height:100vh;
    position: absolute;
}

.derecha{
    width:50vw;
    height:100vh;
    background-color: white;
    position: absolute;
    left: 50vw;
}

.header{
    width:100%;
    height: 35%;
}

.logo{
    width: 30%;
    height: auto;
    position: absolute;
    left: 33%;
    top: 8%;
}


.secciones{
    position:relative;
}

.contenedor1{
    width: 40vw;
    height: 10vh;
    position: absolute;
    left: 5vw;
    top: 12.5vh;
}

.centrosVacunacion{
    border: 2px solid #1ab274;
    width: 18vw;
    height: 10vh;
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.farmacias{
    border: 2px solid #1ab274;
    width: 18vw;
    height: 10vh;
    border-radius: 5px;
    position: absolute;
    right:0;
}

.contenedor2{
    width: 40vw;
    height: 10vh;
    position: absolute;
    left: 5vw;
    top: 27.5vh;
}

.tiendasAutoservicio{
    border: 2px solid #1ab274;
    width: 18vw;
    height: 10vh;
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.restaurantes{
    border: 2px solid #1ab274;
    width: 18vw;
    height: 10vh;
    border-radius: 5px;
    position: absolute;
    right:0;
}

.contenedor3{
    width: 40vw;
    height: 10vh;
    position: absolute;
    left: 5vw;
    top: 42.5vh;
}

.gyms{
    border: 2px solid #1ab274;
    width: 18vw;
    height: 10vh;
    border-radius: 5px;
    position: absolute;
    left: 0;
}

.superMercados{
    border: 2px solid #1ab274;
    width: 18vw;
    height: 10vh;
    border-radius: 5px;
    position: absolute;
    right:0;
}

.a_centrosVacunacion{
    color: white;
    font-size: 1.3rem;
    position: absolute;
    left: 14%;
    top: 30%;
    text-decoration: none;
}

.centrosVacunacion:hover{
    transform: scale(1.1);
}

.a_farmacias{
    color: white;
    font-size: 1.3rem;
    position: absolute;
    left: 30%;
    top: 30%;
    text-decoration: none;
}

.farmacias:hover{
    transform: scale(1.1);
}

.a_tiendasAutoservicio{
    color: white;
    font-size: 1.3rem;
    position: absolute;
    left: 17%;
    top: 30%;
    text-decoration: none;
}

.tiendasAutoservicio:hover{
    transform: scale(1.1)
}

.a_restaurantes{
    color: white;
    font-size: 1.3rem;
    position: absolute;
    left: 30%;
    top: 30%;
    text-decoration: none;   
}

.restaurantes:hover{
    transform: scale(1.1);
}

.a_gyms{
    color: white;
    font-size: 1.3rem;
    position: absolute;
    left: 40%;
    top: 30%;
    text-decoration: none;    
}

.gyms:hover{
    transform: scale(1.1);
}

.a_superMercados{
    color: white;
    font-size: 1.3rem;
    position: absolute;
    left: 25%;
    top: 30%;
    text-decoration: none;        
}

.superMercados:hover{
    transform: scale(1.1);
}

.header_izquierda{
    color: #12293a;
    font-family: "Merriweather";
    font-size: 5rem;
    padding: 5%;
    margin: 0;
    margin-top: 20%;
}

.subtitle_izquierda{
    color: #12293a;
    font-family: "Merriweather";
    font-size: 1.7rem;
    padding: 5%;
    margin: 0;
}

.btn{
    background-color: #1ab274;
    padding:2%;
    border-radius: 10px;
    border-style: none;
    position: absolute;
    left: 35%;
    color: white;
    font-family: "Merriweather" ;
}

.btn:hover{
    background-color: white;
    border:2px;
    border-style: solid;
    border-color: #1ab274;
    color: #1ab274;
}